@rendermode InteractiveServer

<form action="/Account/Logout" method="post">
    <AntiforgeryToken />
    <input type="hidden" name="returnUrl" value="@CurrentUrl" />
    <button type="submit" class="mud-nav-link mud-ripple">
        <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Info" Class="mr-3"></MudIcon> Logout
    </button>
</form>

@code{
    [Parameter]
    public string CurrentUrl { get; set; } = "/";
}